section.about#about-part
	+lazyPicture({
		src: `${baseDir}images/sprites/svg/lineMain1.svg`,
		alt: 'line main 1',
		appear: false,
	}, [
			{
				srcset: `${baseDir}images/sprites/svg/lineMain1m.svg`,
				media: '(min-width: 0px) and (max-width: 425px)',
			},
			{
				srcset: `${baseDir}images/sprites/svg/lineMain1.svg`,
				media: '(min-width: 426px)',
			}
		]
	).container-lines__line--1.picture
	article.about__experience
		h2.about__title.title--hidden(data-scroll-class="active-right" data-scroll-offset="100, 100" data-scroll)
			!= data.home.about.experiences.title
		ul.experience__list
			each object, key in data.home.about.experiences.data
				li.experience-list__item.block-text--hidden(data-scroll-class="active-up" data-scroll-offset="100, 150" data-scroll)
					span.about__text--gray
						!= object.years
					.container-job
						span.about__text--bold
							!= object.job
						if object.rhombus
							+lazyPicture({
								src: `${baseDir}${object.rhombus}`,
								alt: 'rhombus',
							}).picture.picture--animation
					.container-job
						if object.icon
							+lazyPicture({
								src: `${baseDir}${object.icon}`,
								alt: object.name,
							}).picture
						.container-text
							if object.name
								span.about__text--bold
									!= object.name
							span.about__text
								!= object.location
					.container
						p.about__text.about__description
							!= object.description
						ul.container__additional-links
							each link, key in object.links
								li.additional-links__item
									span.about__link
										!= link.name
	.about__container-image(data-scroll)
		+lazyPicture({
			src: `${baseDir}${data.home.about.image.link}`,
			alt: data.home.about.image.name,
		}).about__image.picture(data-scroll-offset="-150, 150" data-scroll-target=".about__container-image" data-scroll-sticky data-scroll)
	article.about__education
		h2.about__title.title--hidden(data-scroll-class="active-right" data-scroll-offset="100, 100" data-scroll)
			!= data.home.about.educations.title
		ul.education-list
			each item, key in data.home.about.educations.data
				li.education-list__item.block-text--hidden(data-scroll-class="active-up" data-scroll-offset="100, 150" data-scroll)
					if key === 0
						+lazyPicture({
								src: `${baseDir}${item.icon}`,
								alt: 'rhombus',
						}).education-list__image--first.picture.picture--animation
					else
						+lazyPicture({
								src: `${baseDir}${item.icon}`,
								alt: 'rhombus',
						}).education-list__image.picture.picture--animation
					span.about__text--bold.education__text
						!= item.name
					ul.education-list-type
						each type, key in item.list
							li.education-list-type__item
								p.about__text.education__text
									!= type.description